/EF6-UnitOfWork/obj
/EF6-UnitOfWork/bin
/EF6-UnitOfWork.nuget/obj
/EF6-UnitOfWork.nuget/bin
/packages
.vs
packages
/EF6-UnitOfWork.nuget/NuGet.log
/EF6-UnitOfWork.nuget/EF6_UnitOfWork.nuget.1.0.0.nupkg.bak
*.user
